.panel{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.p{
  padding: 1.5rem;
}
.timer-count{
  flex-direction: row;
}

.question-container{
    margin: 10px;
    padding: 50px;
    width: 80vw;
    height: 10vh;
    text-align: center;
}

.option-container{
    padding: 10px;
    margin-left: 40%;
    width: 15vw;
    height: 10vh;
    border-radius: 25%;
    text-align:center;
}

.option{
    background-color: blueviolet;
    
}

.option:hover{
    background-color: rgb(165, 109, 218);
}